[submodule "third_party/tt_forge_models"]
	path = third_party/tt_forge_models
	url = https://github.com/tenstorrent/tt-forge-models.git
[submodule "third_party/tt_forge_sweeps"]
	path = third_party/tt_forge_sweeps
	url = git@github.com:tenstorrent/tt-forge-sweeps.git
#     update = none
