[submodule "third_party/tt_forge_models"]
	path = third_party/tt_forge_models
	url = https://github.com/tenstorrent/tt-forge-models.git
[submodule "third_party/tt-foundry"]
	path = third_party/tt-foundry
	url = https://github.com/saiarthiraguram/tt-foundry.git
