# Project
build/
install/
third_party/loguru
third_party/tt-mlir

# Binaries
*.so

# IDE
.vscode/

# Clangd
.cache/
compile_commands.json

# Python
__pycache__/
.env
.venv
env/
venv/*
!venv/activate
!venv/install_ttmlir_requirements.sh
.env.sh
*.egg-info
*.whl
*.log

# Packaging scripts write artifacts here.
bindist/
