black
clang-format
cmake
datasets
einops
flax==0.10.4
fsspec
jax
jaxlib
jaxtyping
librosa
lit
loguru
ml_collections
ninja
pillow
pre-commit
psutil
pybind11
pytest
pytest-forked
pytorchcv
rjieba
pytest-split
sentencepiece
setuptools
soundfile
tabulate
timm
torch==2.7.0
torch-xla@https://pypi.eng.aws.tenstorrent.com/torch-xla/torch_xla-2.9.0%2Bgitb87262d-cp310-cp310-linux_x86_64.whl
torchvision
torchxrayvision
transformers
wheel

# vgg model
vgg_pytorch

# monodepth2 model
matplotlib
