git+https://github.com/erfanzar/EasyDeL.git@77ced9d2f2ab6a3d705936d26112eb97d9f9e64a

eformer==0.0.62
transformers==4.57.1
# Core dependencies
datasets
soundfile
librosa

# Override system-wide torchcodec - version 0.8 is compatible with PyTorch 2.9
torchcodec==0.8
