[build-system]
requires = [
    "setuptools>=42",
    "wheel",
    "ninja",
    "cmake",
]
build-backend = "setuptools.build_meta"

[tool.cibuildwheel]
repair-wheel-command = "auditwheel repair --lib-sdir ./ -w {dest_dir} {wheel}"
