name: Build Manylinux Wheel (call)

on:
  workflow_call:
    inputs:
      docker-image:
        description: 'Docker manylinux image'
        required: false
        type: string
        default: 'latest'

jobs:
  build-wheels:
    name: Build Manylinux Wheel
    timeout-minutes: 90
    runs-on: ubuntu-latest
    container:
      image: quay.io/pypa/manylinux_2_34_x86_64

    steps:
      - uses: actions/checkout@v4

      - name: Set reusable strings
        id: strings
        shell: bash
        run: |
          echo "work-dir=$(pwd)" >> "$GITHUB_OUTPUT"
          echo "build-output-dir=$(pwd)/build" >> "$GITHUB_OUTPUT"
          echo "wheel-output-dir=$(pwd)/python_package/dist" >> "$GITHUB_OUTPUT"}

      - name: Git safe dir
        run: git config --global --add safe.directory ${{ steps.strings.outputs.work-dir }}

      - name: Set up Python 3.11
        uses: actions/setup-python@v6
        with:
          python-version: '3.11'

      - name: Download xla wheel artifact
        uses: actions/download-artifact@v5
        with:
          pattern: 'xla-whl-release*'

      - name: Audit wheel
        shell: bash
        run: |
          echo "Running auditwheel..."
          wheel=$(find . -name "*.whl" -type f)
          if [ $(echo "$wheel" | wc -l) -gt 1 ]; then
            echo "::warning::Multiple wheel files found:"
            echo "$wheel"
            wheel=$(echo "$wheel" | head -n 1)
          fi
          echo "Using wheel: $wheel"
          auditwheel repair \
              --exclude libtt_metal.so \
              --exclude libdevice.so \
              --exclude libtracy.so \
              --exclude libtt_stl.so \
              --exclude _ttnncpp.so \
              --plat manylinux_2_35_x86_64 "$wheel" -w wheelhouse/
          echo "new wheel files:"
          ls wheelhouse/pjrt_plugin_tt*.whl
          echo "auditwheel show":
          auditwheel show wheelhouse/pjrt_plugin_tt*.whl

      - name: Upload wheel artifact
        uses: actions/upload-artifact@v4
        with:
          name: xla-whl-manylinux
          path: wheelhouse/*.whl
          if-no-files-found: error
