name: Run release tests in Docker image (call)

on:
  workflow_call:
    inputs:
      release_docker_image:
        description: 'Name of the release Docker image'
        type: string
        required: true

jobs:
  basic-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Exit 1
        run: exit 1

  perf-benchmark-n150:
    runs-on: ubuntu-latest
    steps:
      - name: Exit 0
        run: exit 0
