name: Run release tests in Docker image (call)

on:
  workflow_call:
    inputs:
      release_docker_image:
        description: 'Name of the release Docker image'
        type: string
        required: true

jobs:
  # tested - working
  perf-benchmark:
    uses: tenstorrent/tt-forge/.github/workflows/perf-benchmark.yml@vvukoman/extract-mlir-version-differently
    secrets: inherit
    with:
      ref: vvukoman/extract-mlir-version-differently
      docker-image: ${{ inputs.release_docker_image }}
      project: tt-xla
      sh-runner: true

  # tested - working
  demo-test:
    uses: tenstorrent/tt-forge/.github/workflows/demo-tests.yml@vvukoman/extract-mlir-version-differently
    secrets: inherit
    with:
      docker-image: ${{ inputs.release_docker_image }}
      project-filter: tt-xla
      ref: vvukoman/extract-mlir-version-differently
