name: TT-forge release (call)

on:
  workflow_call:
    inputs:
      release_tag:
        description: "Release tag"
        type: string
        required: true
      should_overwrite_release:
        description: 'Should we overwrite an existing pypi wheel'
        type: boolean
        required: false
        default: false

permissions:
  contents: write
  actions: write
  id-token: write
  packages: write
  checks: write

jobs:
  publish-forge:
    runs-on: builder
    steps:
      - name: Fix workspace permissions issue
        run: sudo chown -R $USER:$USER $GITHUB_WORKSPACE

      - name: Checkout repository
        uses: actions/checkout@v4
