name: Create release Docker image (call)

on:
  workflow_call:
    inputs:
      wheel_release_artifact_run_id:
        description: 'Run id of the release wheel'
        type: string
        required: true
      wheel_release_artifact_name:
        description: 'Artifact name of the wheel'
        type: string
        required: true
      is_nightly_release:
        description: 'Is the docker a nigthly release'
        type: boolean
        required: true

jobs:
  build-release-docker:
    name: Build tt-xla release Docker image
    runs-on: builder
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ github.token }}

      - name: Build & push Docker image
        shell: bash
        id: build-docker
        run: |
          set pipefail

          docker_tag="${{ github.sha }}"
          is_nigthly_release="${{ inputs.is_nightly_release }}"
          echo "Docker tag: $docker_tag"

          .github/build-release-docker-image.sh $docker_tag $is_nigthly_release | tee docker.log

          docker_image=$(tail -n 1 docker.log)
          echo "Docker image built and pushed: $docker_image"
          echo "docker-image=$docker_image" >> "$GITHUB_OUTPUT"
