name: Test (call)

on:
  workflow_call:
    inputs:
      docker_image:
        description: 'Docker image to use for the build'
        required: true
        type: string
      codecov:
        description: 'Run code coverage tests and uploads'
        required: false
        default: true
        type: boolean
      artifact_release_run_id:
        description: 'Run ID of the artifacts (release)'
        required: true
        type: string
      artifact_codecov_run_id:
        description: 'Run ID of the artifacts (codecov)'
        required: false
        type: string
      wheel_release_artifact_name:
        description: 'Name of the wheel artifact (release)'
        required: true
        type: string
      wheel_codecov_artifact_name:
        description: 'Name of the wheel artifact (codecov)'
        required: false
        type: string
      wheel_release_vllm_tt_artifact_name:
        description: 'Name of the wheel artifact (release vllm-tt)'
        required: false
        type: string
      build_artifact_name:
        description: 'Name of the build artifact (codecov)'
        required: false
        type: string
      test_suite:
        description: 'Test suite preset options or custom'
        required: true
        type: string
      test_suite_custom:
        description: 'Custom test suite json'
        required: false
        type: string

env:
  GH_TOKEN: ${{ github.token }} # for gh cli tool
  TTMLIR_TOOLCHAIN_DIR: /opt/ttmlir-toolchain # We don't actually need this, venv/activate expects this to be set
  TT_XLA_CI: 1

jobs:
  generate-matrix-test:
    uses: ./.github/workflows/call-generate-matrix.yml
    secrets: inherit
    with:
      test_suite: ${{ inputs.test_suite }}
      test_suite_custom: ${{ inputs.test_suite_custom }}

  # Run tests on TT hardware
  run-tests:
    needs: generate-matrix-test
    strategy:
      fail-fast: false
      matrix:
        build: ${{ fromJson(needs.generate-matrix-test.outputs.test_matrix) }}

    runs-on: ${{ !matrix.build.shared-runners && fromJson(format('["{0}", "in-service"]', matrix.build.runs-on)) || matrix.build.runs-on  }}

    # Keep this name in sync with the fetch-job-id step
    name: "test ${{ matrix.build.test-mark }} (${{ matrix.build.runs-on }}, ${{ matrix.build.name }}, ${{ strategy.job-index }})"

    container:
      image: ${{ !matrix.build.shared-runners && inputs.docker_image || format('harbor.ci.tenstorrent.net/{0}', inputs.docker_image) }}
      options: --device /dev/tenstorrent
      volumes:
        - /dev/hugepages:/dev/hugepages
        - /dev/hugepages-1G:/dev/hugepages-1G
        - /etc/udev/rules.d:/etc/udev/rules.d
        - /lib/modules:/lib/modules
        - /opt/tt_metal_infra/provisioning/provisioning_env:/opt/tt_metal_infra/provisioning/provisioning_env
        - /mnt/dockercache:/mnt/dockercache

    steps:
    - name: Mark repo as safe for git
      run: |
        git config --global --add safe.directory /__w/tt-xla/tt-xla
        git config --global --add safe.directory /__w/tt-xla/tt-xla/third_party/tt_forge_models

    - name: Log disk space
      run: df -h

    - name: Set caching env variables
      shell: bash
      run: |
        shared_runners=${{ matrix.build.shared-runners }}
        if [[ "$shared_runners" == "" || "$shared_runners" == "false" ]]; then
          echo "DOCKER_CACHE_ROOT=/mnt/dockercache" >> $GITHUB_ENV
        else
          echo "IRD_LF_CACHE=${{ vars.IRD_LF_CACHE }}" >> $GITHUB_ENV
        fi

    - name: Log out env variables
      shell: bash
      run: |
        echo "docker cache root: ...$DOCKER_CACHE_ROOT..."
        echo "ird lf cache: ...$IRD_LF_CACHE..."
