name: Run release tests in Docker image (call)

on:
  workflow_call:
    inputs:
      release_docker_image:
        description: 'Name of the release Docker image'
        type: string
        required: true

jobs:
  perf-benchmark:
    uses: tenstorrent/tt-forge/.github/workflows/perf-benchmark.yml@main
    secrets: inherit
    with:
      project-filter: tt-xla
      docker-image: ${{ inputs.release_docker_image }}
      ref: main
