name: TT-xla release (call)

on:
  workflow_call:
    outputs:
      release_ready:
        description: 'Did wheel push, docker build and release publish steps succeed'
        value: ${{ jobs.summary.outputs.release_ready }}

jobs:
  publish-release-wheel:
    runs-on: ubuntu-latest
    steps:
      - name: Exit 0
        run: exit 0

  build-release-docker:
    runs-on: ubuntu-latest
    needs: [ publish-release-wheel ]
    steps:
      - name: Exit 0
        run: exit 0

  release-tests:
    runs-on: ubuntu-latest
    needs: [ build-release-docker ]
    steps:
      - name: Exit 1
        run: exit 1

  publish-release:
    runs-on: ubuntu-latest
    if: ${{ always() && needs.publish-release-wheel.result == 'success' && needs.build-release-docker.result == 'success' }}
    needs: [ publish-release-wheel, build-release-docker, release-tests ]
    steps:
      - name: Exit 0
        run: exit 0

  summary:
    needs: [ publish-release-wheel, build-release-docker, publish-release ]
    runs-on: ubuntu-latest
    outputs:
      release_ready: ${{ steps.flag.outputs.ready }}
    steps:
      - id: flag
        run: |
          ready="false"
          if [[ ${{ needs.publish-release-wheel.result == 'success' && needs.build-release-docker.result == 'success' && needs.publish-release.result == 'success' }} ]]; then
            ready="true"
          fi
          echo "ready=$ready" >> $GITHUB_OUTPUT

      - id: Log
        run: echo "I'm here"
