name: Build release Docker image (call)

on:
  workflow_call:
    inputs:
      wheel_release_artifact_run_id:
        description: 'Run id of the release wheel'
        type: string
        required: true
      wheel_release_artifact_name:
        description: 'Artifact name of the wheel'
        type: string
        required: true
      wheel_release_vllm_tt_artifact_name:
        description: 'Artifact name of the vllm wheel'
        type: string
        required: true
      wheel_version_override:
        description: 'Wheel version override value'
        type: string
        required: false
    outputs:
      docker_image:
        description: 'Built and pushed docker image'
        value: ${{ jobs.build-release-docker.outputs.docker-image}}
      docker_image_base:
        description: 'Built and pushed docker image'
        value: ${{ jobs.build-release-docker.outputs.docker-image-base}}

permissions:
  contents: write
  actions: write
  id-token: write
  packages: write
  checks: write
  pages: write
  attestations: write

jobs:
  build-release-docker:
    name: Build tt-xla release Docker image
    runs-on: builder
    outputs:
      docker-image: ${{ steps.build-docker.outputs.docker-image }}
      docker-image-base: ${{ steps.build-docker.outputs.docker-image-base }}
    env:
      GH_TOKEN: ${{ github.token }}
    steps:
      - name: Fix workspace permissions issue
        run: sudo chown -R $USER:$USER $GITHUB_WORKSPACE

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ github.token }}

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.11

      - name: Download wheels
        shell: bash
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          sudo apt-get update
          sudo apt-get install -y -q curl gnupg
          curl -fsSL https://cli.github.com/packages/githubcli-archive-keyring.gpg | \
            sudo dd of=/usr/share/keyrings/githubcli-archive-keyring.gpg
          sudo chmod go+r /usr/share/keyrings/githubcli-archive-keyring.gpg
          echo "deb [signed-by=/usr/share/keyrings/githubcli-archive-keyring.gpg] https://cli.github.com/packages stable main" | \
            sudo tee /etc/apt/sources.list.d/github-cli.list > /dev/null
          sudo apt-get update && sudo apt-get install -y -q gh

          echo "Downloading wheel from: ${{ github.repository }} run_id ${{ inputs.wheel_release_artifact_run_id }} name ${{ inputs.wheel_release_artifact_name }}"
          gh run download ${{ inputs.wheel_release_artifact_run_id }} \
            --repo ${{ github.repository }} \
            --dir . \
            --name ${{ inputs.wheel_release_artifact_name }}

          echo "Downloading wheel from: ${{ github.repository }} run_id ${{ inputs.wheel_release_artifact_run_id }} name ${{ inputs.wheel_release_vllm_tt_artifact_name }}"
          gh run download ${{ inputs.wheel_release_artifact_run_id }} \
            --repo ${{ github.repository }} \
            --dir . \
            --name ${{ inputs.wheel_release_vllm_tt_artifact_name }}

          echo "Downloaded wheels"
          ls -l

      - name: Rename wheel
        shell: bash
        if: ${{ inputs.wheel_version_override != ''}}
        run: |
          tag="${{ inputs.wheel_version_override }}"

          .github/scripts/modify_wheel_version.sh pjrt_plugin_tt*.whl $tag
          .github/scripts/modify_wheel_version.sh vllm_tt*.whl $tag

      - name: Build & push Docker image
        shell: bash
        id: build-docker
        run: |
          set -eo pipefail

          project="tt-xla"
          docker_tag="${{ github.sha }}"

          .github/build-release-docker-image.sh $project $docker_tag | tee docker.log

          docker_image=$(tail -n 1 docker.log)
          docker_image_base=$(tail -n 2 docker.log | head -n 1)
          echo "Docker image built and pushed: $docker_image"
          echo "docker-image=$docker_image" >> "$GITHUB_OUTPUT"
          echo "docker-image-base=$docker_image_base" >> "$GITHUB_OUTPUT"
