name: TT-xla release (call)

on:
  workflow_call:

jobs:
  publish-release-wheel:
    runs-on: ubuntu-latest
    steps:
      - name: Exit 0
        run: exit 0

  build-release-docker:
    runs-on: ubuntu-latest
    steps:
      - name: Exit 0
        run: exit 0

  release-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Exit 1
        run: exit 1

  publish-release:
    runs-on: ubuntu-latest
    steps:
      - name: Exit 0
        run: exit 0

  summary:
    needs: [ publish-release-wheel, build-release-docker, publish-release ]
    runs-on: ubuntu-latest
    steps:
      - id: Log
        run: echo "I'm here"
