name: Run release tests in Docker image (call)

on:
  workflow_call:
    inputs:
      release_docker_image:
        description: 'Name of the release Docker image'
        type: string
        required: true

jobs:
  # now the tag is better, try again
  # should work seamlessly
  perf-benchmark:
    uses: tenstorrent/tt-forge/.github/workflows/perf-benchmark.yml@main
    secrets: inherit
    with:
      project-filter: tt-xla
      docker-image: ${{ inputs.release_docker_image }}
      ref: main

  demo-tests:
    uses: tenstorrent/tt-forge/.github/workflows/demo-tests.yml@main
    secrets: inherit
    with:
      docker-image: ${{ inputs.release_docker_image }}
      project-filter: tt-xla
