name: Run Test Single

on:
  workflow_dispatch:
    inputs:
      release_tag:
        description: 'Release tag'
        type: string
        required: true
        type: string
      mark:
        description: 'Mark passed to pytest (-m)'
        required: false
        type: string
      contains:
        description: 'Execute test that contains the specified string (-k)'
        required: false
        type: string
      args:
        description: 'Additional arguments passed to pytest'
        required: false
        type: string
      runs_on:
        description: 'Choose runners for running test'
        required: true
        type: choice
        options:
          - 'n150'
          - 'n300'
          - 'p150'
          - 'n300-llmbox'
          - 'llmbox-1'
          - 'llmbox-2'
      shared_runners:
        description: 'Run test on the CIv2 runner'
        required: false
        default: false
        type: boolean
      parallel_groups:
        description: 'Number of parallel runners for test execution'
        required: true
        default: '1'
        type: choice
        options:
          - '1'
          - '2'
          - '3'
          - '4'
          - '5'
          - '8'
          - '10'
      mlir_override:
          description: 'Git SHA of commit in tenstorrent/tt-mlir'
          required: false
          type: string

permissions:
  packages: write
  checks: write

run-name: 'Test ( Dir: ${{ inputs.dir }} - Mark: ${{ inputs.mark }} - Run-on: ${{ inputs.runs_on }} - Shared runner: ${{ inputs.shared_runners }} )'

permissions:
  contents: write
  actions: write
  id-token: write
  packages: write
  checks: write

jobs:
  build-image:
    uses: ./.github/workflows/call-build-docker.yml
    secrets: inherit

  build-ttxla:
    uses: ./.github/workflows/call-build.yml
    name: "Build tt-xla"
    secrets: inherit
    needs: build-image
    with:
      docker_image: ${{ needs.build-image.outputs.docker-image }}

  build-release-docker:
    uses: ./.github/workflows/call-build-release-docker.yml
    needs: [ build-ttxla ]
    secrets: inherit
    with:
      wheel_release_artifact_run_id: ${{ needs.build-ttxla.outputs.artifacts_run_id }}
      wheel_release_artifact_name: ${{ needs.build-ttxla.outputs.wheel_artifact_name }}

  perf-benchmark:
    uses: tenstorrent/tt-forge/.github/workflows/perf-benchmark.yml@main
    needs: [ build-ttxla, build-release-docker ]
    secrets: inherit
    with:
        project: tt-xla
        ref: main
        docker-image: ${{ needs.build-release-docker.outputs.docker_image }}
        run_id: ${{ needs.build-ttxla.outputs.artifacts_run_id }}
