name: Run Test

# This workflow allows manual triggering of tests with customizable presets, hardware targets, and directories.
# It builds the Docker image and project, sets up test parameters, and runs tests using the specified configuration.

on:
  workflow_dispatch:

permissions:
  contents: write
  packages: write
  checks: write
  pull-requests: write
  id-token: write
  actions: write

jobs:
  build-image:
    uses: ./.github/workflows/call-build-docker.yml
    secrets: inherit

  build-ttxla-release:
    uses: ./.github/workflows/call-build.yml
    name: "Build tt-xla release"
    secrets: inherit
    needs: [ build-image ]
    with:
      docker_image: ${{ needs.build-image.outputs.docker-image }}

  perf-benchmark-n150:
    needs: [ build-image, build-ttxla-release ]
    uses: ./.github/workflows/manual-benchmark.yml
    secrets: inherit
    with:
      runs-on-filter: n150
      sh-runner: false
      skip-device-perf: false
      perf_regression_check: false
      test_filter: resnet,llama_3_1_8b_instruct,qwen_3_4b_embedding
      should_build_wheel: false
      artifact_release_run_id: ${{ needs.build-ttxla-release.outputs.artifacts_run_id }}
      wheel_release_artifact_name: ${{ needs.build-ttxla-release.outputs.wheel_artifact_name }}

  perf-benchmark-llmbox:
    needs: [ build-image, build-ttxla-release ]
    uses: ./.github/workflows/manual-benchmark.yml
    secrets: inherit
    with:
      runs-on-filter: n300-llmbox
      sh-runner: false
      skip-device-perf: false
      perf_regression_check: false
      test_filter: test_llama_3_1_70b_tp
      should_build_wheel: false
      artifact_release_run_id: ${{ needs.build-ttxla-release.outputs.artifacts_run_id }}
      wheel_release_artifact_name: ${{ needs.build-ttxla-release.outputs.wheel_artifact_name }}
