name: Run Test Single

on:
  workflow_dispatch:
    inputs:
      version_tag:
        description: 'version_tag'
        type: string
        required: true

permissions:
  contents: write
  actions: write
  id-token: write
  packages: write
  checks: write

jobs:
  release:
    uses: ./.github/workflows/call-release.yml
    secrets: inherit
    with:
      artifact_release_run_id: ""
      wheel_release_artifact_name: ""
      wheel_release_vllm_tt_artifact_name: ""
      is_nightly_release: true

  release-forge:
    uses: ./.github/workflows/call-forge-release.yml
    needs: [ release ]
    if: ${{ needs.release.outputs.release_ready == 'true' }}
    secrets: inherit
    with:
      release_tag: "test"
