name: Run Test

# This workflow allows manual triggering of tests with customizable presets, hardware targets, and directories.
# It builds the Docker image and project, sets up test parameters, and runs tests using the specified configuration.

on:
  workflow_dispatch:
    inputs:
      test_suite:
        description: 'Test suite preset options or custom'
        required: true
        type: choice
        options:
          - 'basic-test.json'
          - 'basic-test-nightly.json'
          - 'model-test-push.json'
          - 'model-test-full.json'
          - 'on-pr.json'
          - 'schedule-nightly.json'
          - 'model-test-passing.json'
          - 'model-test-xfail.json'
          - 'model-test-experimental.json'
          - 'model-test-training-xfail-weekly.json'
          - 'model-test-extended.json'
          - 'mlir-uplift-qualification.json'
          - 'model-test-passing-weekly.json'
          - 'model-test-weekly.json'
          - 'vllm-model-tests.json'
          - 'vllm-model-tests-nightly.json'
          - 'Custom'
      test_suite_custom:
        description: 'Custom test suite json'
        required: false
        type: string
      mlir_override:
        description: 'Git SHA of commit in tenstorrent/tt-mlir'
        required: false
        type: string
      manylinux_build:
        description: 'Build and use manylinux wheel'
        required: false
        type: boolean
        default: false

permissions:
  packages: write
  checks: write

run-name: 'Test ( Suite: ${{ inputs.test_suite }} )'

jobs:
  build-image:
    uses: ./.github/workflows/call-build-docker.yml
    secrets: inherit
    with:
      mlir_override: ${{ inputs.mlir_override }}
      dockbuild: ${{ inputs.manylinux_build == 'true' && 'all' || 'ci' }}

  build-ttxla:
    needs: build-image
    uses: ./.github/workflows/call-build.yml
    secrets: inherit
    with:
      docker_image: ${{ needs.build-image.outputs.docker-image }}
      mlir_override: ${{ inputs.mlir_override }}

  build-manylinux-ttxla:
    if: inputs.manylinux_build
    needs: build-image
    uses: ./.github/workflows/call-build-manylinux.yml
    secrets: inherit
    with:
      docker-image: ${{ needs.build-image.outputs.docker-image-manylinux }}

  test:
    if: always() && !cancelled() && !failure() && inputs.preset != 'tt_forge_models'
    uses: ./.github/workflows/call-test.yml
    needs: [ build-image, build-ttxla, build-manylinux-ttxla ]
    secrets: inherit
    with:
      test_suite: ${{ inputs.test_suite }}
      test_suite_custom: ${{ inputs.test_suite_custom }}
      docker_image: ${{ needs.build-image.outputs.docker-image-base }}
      artifact_release_run_id: ${{ inputs.manylinux_build && github.run_id || needs.build-ttxla.outputs.artifacts_run_id }}
      wheel_release_artifact_name: ${{ inputs.manylinux_build && 'xla-whl-manylinux' || needs.build-ttxla.outputs.wheel_artifact_name }}
      wheel_release_vllm_tt_artifact_name: ${{ needs.build-ttxla.outputs.wheel_release_vllm_tt_artifact_name }}
      alchemist_artifact_name: ${{ needs.build-ttxla.outputs.alchemist_artifact_name }}
