name: Run Test Single

on:
  workflow_dispatch:
    inputs:
      release_tag:
        description: 'custom release tag'
        required: true
        type: string

permissions:
  contents: write
  actions: write
  id-token: write
  packages: write
  checks: write

jobs:
  build-image:
    uses: ./.github/workflows/call-build-docker.yml
    secrets: inherit

  build-ttxla:
    uses: ./.github/workflows/call-build.yml
    name: "Build tt-xla"
    secrets: inherit
    needs: build-image
    with:
      docker_image: ${{ needs.build-image.outputs.docker-image }}

  release:
    uses: ./.github/workflows/call-release.yml
    needs: [ build-ttxla ]
    secrets: inherit
    with:
      artifact_release_run_id: ${{ needs.build-ttxla.outputs.artifacts_run_id }}
      wheel_release_artifact_name: ${{ needs.build-ttxla.outputs.wheel_artifact_name }}
      wheel_release_vllm_tt_artifact_name: ${{ needs.build-ttxla.outputs.wheel_release_vllm_tt_artifact_name }}
      is_nightly_release: true
      tag: ${{ inputs.release_tag }}

  release-forge:
    uses: ./.github/workflows/call-forge-release.yml
    needs: [ release ]
    if: ${{ always() && needs.release.outputs.release_ready == 'true' }}
    secrets: inherit
    with:
      release_tag: ${{ inputs.release_tag }}
