name: Run Test Single

on:
  workflow_dispatch:
    inputs:
      release_docker_image:
        description: 'Name of the release Docker image'
        type: string
        required: true

permissions:
  contents: write
  actions: write
  id-token: write
  packages: write
  checks: write

jobs:
  perf-benchmark-n150:
    uses: tenstorrent/tt-forge/.github/workflows/perf-benchmark.yml@main
    secrets: inherit
    with:
      docker-image: ${{ inputs.release_docker_image }}
      ref: main
      project: tt-xla
      sh-runner: false
      skip-device-perf: false
      runs-on-filter: n150
      fail-notify: true

  perf-benchmark-llmbox:
    uses: tenstorrent/tt-forge/.github/workflows/perf-benchmark.yml@main
    secrets: inherit
    with:
      docker-image: ${{ inputs.release_docker_image }}
      ref: main
      project: tt-xla
      sh-runner: false
      skip-device-perf: false
      runs-on-filter: llmbox
