name: Run Test Single

on:
  workflow_dispatch:
    inputs:
      release_tag:
        description: 'Release tag'
        type: string
        required: true

permissions:
  contents: write
  actions: read
  id-token: write
  packages: write
  checks: write

jobs:
  build-image:
    uses: ./.github/workflows/call-build-docker.yml
    secrets: inherit

  build-ttxla:
    uses: ./.github/workflows/call-build.yml
    name: "Build tt-xla"
    secrets: inherit
    needs: build-image
    with:
      docker_image: ${{ needs.build-image.outputs.docker-image }}

  build-release-docker:
    uses: ./.github/workflows/call-build-release-docker.yml
    secrets: inherit
    with:
      wheel_release_artifact_run_id: ${{ needs.build-ttxla.outputs.artifacts_run_id }}
      wheel_release_artifact_name: ${{ needs.build-ttxla.outputs.wheel_artifact_name }}

  perf-benchmark:
    needs: [ build-ttxla ]
    uses: tenstorrent/tt-forge/.github/workflows/perf-benchmark.yml@main
    secrets: inherit
    with:
        project: tt-xla
        ref: main
        docker-image: ${{ needs.build-release-docker.outputs.docker_image }}
