name: Run Test Single

on:
  workflow_dispatch:

jobs:
  release:
    uses: ./.github/workflows/call-release-tmp.yml

  release-forge-tmp:
    needs: [ release ]
    if: ${{ always() && needs.release.outputs.release_ready == 'true' }}
    runs-on: ubuntu-latest
    steps:
      - name: Log
        run: echo "I'm here"
