name: On nightly

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *'

permissions:
  packages: write
  checks: write
  contents: write

jobs:
  nightly_tests:
    uses: ./.github/workflows/build-and-test.yml
    secrets: inherit
    with:
      test_mark: 'nightly'
      build_options: |
        [
          {"runs-on": "n150", "name": "run", "dir": "./tests/jax/single_chip"},
          {"runs-on": "n300", "name": "run", "dir": "./tests/jax/multi_chip/n300"},
          {"runs-on": "llmbox", "name": "run_4", "dir": "./tests/jax/multi_chip/llmbox/4_devices"},
          {"runs-on": "llmbox", "name": "run_8", "dir": "./tests/jax/multi_chip/llmbox/8_devices"}
        ]

  test_full_model:
    uses: ./.github/workflows/build-and-test.yml
    secrets: inherit
    needs: nightly_tests
    if: always()  # This ensures the job runs regardless of success or failure of `nightly_tests`
    with:
      test_mark: 'model_test'
      build_options: |
        [
          {"runs-on": "n150", "name": "run", "dir": "./tests/jax/single_chip"},
        ]

  fail-notify:
    if: always()
    needs:
      - nightly_tests
      - test_full_model
    runs-on: Ubuntu-latest
    outputs:
      is-main: ${{ steps.branch-check.outputs.IS_MAIN }}
      failed: ${{ steps.check.outputs.failure }}
    steps:
      - name: Check if branch is main
        id: branch-check
        run: echo "IS_MAIN=$(if [ '${{ github.ref }}' == 'refs/heads/main' ]; then echo true; else echo false; fi)" >> $GITHUB_OUTPUT
      - name: Check if the needed jobs succeeded or failed
        id: check
        uses: re-actors/alls-green@release/v1
        with:
          jobs: ${{ toJSON(needs) }}

  fail-send-msg:
    if: always()
    needs:
      - fail-notify
    runs-on: Ubuntu-latest
    steps:
      - name: Send Fail Notification
        if: ${{ needs.fail-notify.outputs.failed == 'true' && needs.fail-notify.outputs.is-main == 'true' }}
        uses: slackapi/slack-github-action@v1.26.0
        with:
          payload: |
            {
              "text": "Bad bad nightly: <https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}/attempts/${{ github.run_attempt }}>",
              "channel": "C08GYB57C8M"
            }
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_NIGHTLY_FAIL }}

      - name: Send Success Notification
        if: ${{ needs.fail-notify.outputs.failed == 'false' && needs.fail-notify.outputs.is-main == 'true' }}
        uses: slackapi/slack-github-action@v1.26.0
        with:
          payload: |
            {
              "text": "Good nightly: <https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}/attempts/${{ github.run_attempt }}>",
              "channel": "C08GYB57C8M"
            }
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_NIGHTLY_SUCCESS }}

  release-wheel:
    name: "Release the tt-xla wheel"
    # todo(vvukoman): before merging uncomment this
    # if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    needs:
      - nightly_tests
      - test_full_model
    steps:
      - name: Tag and release
        uses: tenstorrent/tt-forge/.github/actions/tag-and-release@vvukoman/tag-and-release-action
        with:
          wheel-artifact-name: ${{ needs.nightly_tests.outputs.wheel-artifact-name }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
