name: On push

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]
    paths-ignore:
      - '**/*.md'
      - '.gitignore'
      - 'LICENSE'

permissions:
  packages: write
  checks: write

jobs:
  pre-commit:
    uses: ./.github/workflows/pre-commit.yml
    secrets: inherit

  spdx:
    uses: ./.github/workflows/spdx.yml
    secrets: inherit

  build-and-test:
    needs: [pre-commit, spdx]
    uses: ./.github/workflows/build-and-test.yml
    secrets: inherit
    with:
      test_mark: 'push'
      build_options: |
        [
          {"runs-on": "n150", sh-run: false, "name": "run_jax", "dir": "./tests/jax/single_chip"},
          {"runs-on": "n150", sh-run: false, "name": "run_torch", "dir": "./tests/torch/single_chip"},
          {"runs-on": "n300", sh-run: false, "name": "run_jax", "dir": "./tests/jax/multi_chip/n300"},
          {"runs-on": "n300-llmbox", sh-run: true, "name": "run_jax_4_devices", "dir": "./tests/jax/multi_chip/llmbox/4_devices"},
          {"runs-on": "n300-llmbox", sh-run: true, "name": "run_jax_8_devices", "dir": "./tests/jax/multi_chip/llmbox/8_devices"}
        ]
