name: On PR

on:
  workflow_dispatch:
    inputs:
      mlir_override:
        description: 'Git SHA of commit in tenstorrent/tt-mlir'
        required: false
        type: string
  pull_request:
    branches: [ "main" ]

permissions:
  packages: write
  checks: write

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ inputs.mlir_override }}
  cancel-in-progress: true

jobs:
  pre-commit:
    uses: ./.github/workflows/pre-commit.yml
    secrets: inherit
  spdx:
    uses: ./.github/workflows/spdx.yml
    secrets: inherit

  check-files:
    runs-on: ubuntu-latest
    outputs:
      skip: ${{ steps.check.outputs.skip }}
    steps:
      - uses: actions/checkout@v4
      - name: Check if ignored files are modified
        id: check
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          all_match=true
          if [ "${{ github.event_name }}" = "pull_request" ]; then
            CHANGED_FILES=$(gh pr diff ${{ github.event.pull_request.number }} --name-only --repo ${{ github.repository }})
            for file in $CHANGED_FILES;
            do
              if [[ ! $file =~ ^.*\.(md|gitignore)$ && $file != *"LICENSE"* ]]; then
                all_match=false
                break
              fi
            done
          else
            all_match=false
          fi
          if [ "$all_match" = true ]; then
            echo "skip=true" >> "$GITHUB_OUTPUT"
            echo "> --- Build is skipped. Files in PR:"
            echo "$CHANGED_FILES"
            echo "< ---"
          else
            echo "skip=false" >> "$GITHUB_OUTPUT"
            echo "> Build is required."
          fi

  build-image:
    needs: [ pre-commit, spdx, check-files ]
    if: needs.check-files.outputs.skip == 'false'
    uses: ./.github/workflows/build-image.yml
    secrets: inherit
    with:
      mlir_override: ${{ inputs.mlir_override}}

  build-ttxla:
    strategy:
      fail-fast: false
      matrix:
        build_type: [true , false]
    uses: ./.github/workflows/call-build.yml
    name: "Build tt-xla (debug=${{ matrix.build_type }})"
    secrets: inherit
    needs: [ check-files, build-image ]
    if: needs.check-files.outputs.skip == 'false'
    with:
      docker_image: ${{ needs.build-image.outputs.docker-image }}
      mlir_override: ${{ inputs.mlir_override}}
      debug_build: ${{ matrix.build_type }}
      enable_artifact_upload: ${{ matrix.build_type }}

  test:
    needs: [ check-files, build-image, build-ttxla ]
    if: needs.check-files.outputs.skip == 'false'
    uses: ./.github/workflows/call-test.yml
    secrets: inherit
    with:
      codecov: true
      test_mark: 'push'
      run_id: ${{ github.run_id }}
      docker_image: ${{ needs.build-image.outputs.docker-image }}
      use-shared-runners: false # Run PR on VMs
      wheel_url: ${{ needs.build-ttxla.outputs.wheel_url }}

  check-all-green:
    if: always()
    needs:
      - pre-commit
      - spdx
      - check-files
      - build-image
      - build-ttxla
      - test
    runs-on: Ubuntu-latest
    steps:
    - name: Check if the needed jobs succeeded or failed
      uses: re-actors/alls-green@release/v1
      with:
        allowed-skips: build-image, build-ttxla, test
        jobs: ${{ toJSON(needs) }}
