name: On push

on:
  push:
    branches: [ "main" ]
    paths-ignore:
      - '**/*.md'
      - '.gitignore'
      - 'LICENSE'

permissions:
  contents: read
  packages: write
  checks: write
  pages: write
  id-token: write
  deployments: write

jobs:

  build-image:
    uses: ./.github/workflows/call-build-docker.yml
    secrets: inherit

  build-ttxla:
    uses: ./.github/workflows/call-build.yml
    secrets: inherit
    name: "Build tt-xla"
    needs: [ build-image ]
    with:
      docker_image: ${{ needs.build-image.outputs.docker-image }}

  # Building tt-xla with code coverage to generate cached ccache for branches in CI
  build-ttxla-codecov:
    uses: ./.github/workflows/call-build.yml
    name: "Build tt-xla with code coverage"
    secrets: inherit
    needs: [ build-image ]
    with:
      docker_image: ${{ needs.build-image.outputs.docker-image }}
      build_type: codecov

  build-ttxla-explorer:
    uses: ./.github/workflows/call-build.yml
    name: "Build tt-xla with explorer"
    secrets: inherit
    needs: [ build-image ]
    with:
      docker_image: ${{ needs.build-image.outputs.docker-image }}
      build_type: explorer

  build-test-debug:
    uses: ./.github/workflows/call-build-debug.yml
    name: "Build and test tt-xla (debug with coverage)"
    secrets: inherit
    needs: [ build-image ]
    with:
      docker_image: ${{ needs.build-image.outputs.docker-image }}

  test:
    needs: [ build-image, build-ttxla, build-ttxla-codecov ]
    uses: ./.github/workflows/call-test.yml
    secrets: inherit
    with:
      test_suite: basic-test.json
      docker_image: ${{ needs.build-image.outputs.docker-image-base }}
      artifact_release_run_id: ${{ needs.build-ttxla.outputs.artifacts_run_id }}
      wheel_release_artifact_name: ${{ needs.build-ttxla.outputs.wheel_artifact_name }}
      wheel_release_vllm_tt_artifact_name: ${{ needs.build-ttxla.outputs.wheel_release_vllm_tt_artifact_name }}
      artifact_codecov_run_id: ${{ needs.build-ttxla-codecov.outputs.artifacts_run_id }}
      wheel_codecov_artifact_name: ${{ needs.build-ttxla-codecov.outputs.wheel_artifact_name }}
      build_artifact_name: ${{ needs.build-ttxla.outputs.build_artifact_name }}

  test_forge_models_push:
    uses: ./.github/workflows/call-test.yml
    secrets: inherit
    needs: [ build-image, build-ttxla ]
    with:
      test_suite: model-test-push.json
      docker_image: ${{ needs.build-image.outputs.docker-image }}
      artifact_release_run_id: ${{ needs.build-ttxla.outputs.artifacts_run_id }}
      wheel_release_artifact_name: ${{ needs.build-ttxla.outputs.wheel_artifact_name }}

  deploy-docs:
    needs: [ build-image, build-ttxla ]
    uses: ./.github/workflows/call-build-and-deploy-docs.yml
    secrets: inherit
    with:
      docker_image: ${{ needs.build-image.outputs.docker-image }}
