name: Failure Inspector

on:
  workflow_dispatch:
    inputs:
      workflow_run_id:
        description: 'The workflow run ID to inspect'
        required: true
      workflow_run_attempt:
        description: 'The workflow run attempt number to inspect'
        required: false
        default: '1'
  workflow_run:
    workflows: On nightly
    branches:
      - main
    types:
      - completed

permissions:
  packages: write
  checks: write


jobs:
  inspect:
    outputs:
      test-matrix: ${{ steps.success-failed.outputs.test_matrix }}
      docker_sha: ${{ steps.success-failed.outputs.docker_sha }}
    runs-on: ubuntu-latest
    steps:

      - name: Check if nightly failed
        shell: bash
        run: |
          if [ -n "${{ github.event.workflow_run.id }}" ]; then
            echo "Workflow run, nightly ID: ${{ github.event.workflow_run.id }}"
            if [ "${{ github.event.workflow_run.conclusion }}" != "failure" ]; then
              echo "Current Nightly has not failed. Exiting."
              exit 1
            fi
          fi

      - name: Inspect Machine Failures
        id: inspect-failures
        shell: bash
        env:
            GH_TOKEN: ${{ secrets.GH_TOKEN }}
        run: |
          repo="${{ github.repository }}"
          test_job_names=("test ")
          test_step_names=("Collect Tests")

          curr_wf_id="${{ github.event.workflow_run.id || inputs.workflow_run_id }}"
          curr_wf_attempt="${{ github.event.workflow_run.run_attempt || inputs.workflow_run_attempt }}"
          rm -f report.txt

          found_annotations=0
          if ! gh run view -R "$repo" $curr_wf_id --attempt $curr_wf_attempt >_workflow_run_details.txt; then
            echo "ERROR: Failed to fetch workflow run details."
          else
            echo "Workflow run details fetched successfully."
            # Parse workflow run details for job annotations
            if [ -f "_workflow_run_details.txt" ]; then
              echo "Parsing workflow run details for annotations..."

              # Find the ANNOTATIONS section
              annotations_line=$(grep -n "^ANNOTATIONS$" _workflow_run_details.txt | cut -d: -f1)
              if [ -n "$annotations_line" ]; then
                echo "Found ANNOTATIONS section at line $annotations_line"
                # Start reading from line after ANNOTATIONS
                annotations_content=""
                # Read lines from annotations_line+1 until empty line
                while IFS= read -r line; do
                  if [ -z "$line" ]; then
                    if [ -z "$annotations_content" ]; then
                      break
                    else
                      # Check if first line begins with 'X'
                      first_line=$(echo "$annotations_content" | head -n 1)
                      if [[ "$first_line" == X* ]]; then
                        last_line=$(echo "$annotations_content" | tail -n 2 | head -n 1)
                        job=$(echo "$last_line" | rev | cut -d':' -f2- | rev)
                        error=$(echo "$last_line" | rev | cut -d':' -f1 | rev)
                        if [[ "$error" =~ \.github#([0-9]+) ]] && [ "${BASH_REMATCH[1]}" -lt 10 ]; then
                          echo "Github error no ${BASH_REMATCH[1]}"
                          echo "<details><summary>Failure (code ${BASH_REMATCH[1]}) detected in job: $job</summary>$annotations_content</details>" >>report.txt
                          found_annotations=1
                        else
                          echo "Annotation with error found: $first_line"
                          echo "Job: $job"
                          echo "Error: $error"
                        fi
                      fi
                    fi
                    annotations_content=""
                    continue
                  fi
                  annotations_content+="$line"$'\n'
                done < <(tail -n +$((annotations_line + 1)) _workflow_run_details.txt)

              fi
            fi
          fi

          # no need to proceed if we found annotations
          if [ "$found_annotations" -ne 0 ]; then
            if ! gh run view -R "$repo" $curr_wf_id --attempt $curr_wf_attempt --json jobs >workflow_jobs.json; then
              echo "ERROR: Failed to fetch workflow jobs."
              exit 1
            fi

            if ! jq empty workflow_jobs.json >/dev/null 2>&1; then
              echo "ERROR: workflow_jobs.json is not valid JSON:"
              jq . workflow_jobs.json
              exit 1
            fi
            # Iterate through jobs using index
            job_count=$(jq '.jobs | length' workflow_jobs.json)
            for ((i=0; i<job_count; i++)); do
              job_name=$(jq -r ".jobs[$i].name" workflow_jobs.json)
              job_conclusion=$(jq -r ".jobs[$i].conclusion" workflow_jobs.json)
              if [[ "$job_conclusion" == "success" ]]; then
                continue
              fi

              is_job_test=0
              for test_job_name in "${test_job_names[@]}"; do
                if [[ "$job_name" == *"$test_job_name"* ]]; then
                  is_job_test=1
                  break
                fi
              done
              if [[ "$is_job_test" -eq 1 ]]; then
                echo "Job $i: $job_name"
                steps_count=$(jq ".jobs[$i].steps | length" workflow_jobs.json)
                for ((j=0; j<steps_count; j++)); do
                  step_name=$(jq -r ".jobs[$i].steps[$j].name" workflow_jobs.json)
                  step_conclusion=$(jq -r ".jobs[$i].steps[$j].conclusion" workflow_jobs.json)
                  for test_step_name in "${test_step_names[@]}"; do
                    if [[ "$step_name" == *"$test_step_name"* ]]; then
                      break 2
                    fi
                  done
                  if [[ "$step_conclusion" == "failure" ]]; then
                    job_id=$(jq -r ".jobs[$i].databaseId" workflow_jobs.json)
                  fi
                done
              fi
            done
          fi

          if [ ! -s report.txt ]; then
            echo "No failed tests to report."
            echo "send_msg=" >>$GITHUB_OUTPUT
            exit 0
          else
            if [[ "$curr_wf_attempt" -eq 1 ]]; then
                if [ "${{ github.event_name == 'workflow_run' }}" ]; then
                gh run rerun $curr_wf_id -R "$repo" --failed
                msg_retry_text=":rocket: Retrying failed jobs!"
                echo "> Retry of failed job issued!" >> report.txt
              fi
            else
              echo "> No retries of failed job left ($curr_wf_attempt attempt)!" >> report.txt
              msg_retry_text="No retries left, already $curr_wf_attempt attempts."
            fi
            echo "Report: $(cat report.txt)"
            echo "## Machine failures inspection report for [Nightly](<https://github.com/$repo/actions/runs/$curr_wf_id/attempts/$curr_wf_attempt>)" >> $GITHUB_STEP_SUMMARY
            cat report.txt >> $GITHUB_STEP_SUMMARY
            echo "send_msg={\"text\": \"Nightly failure caused by machine failures. $msg_retry_text\", \"job_link\": \"https://github.com/$repo/actions/runs/$curr_wf_id/attempts/$curr_wf_attempt\", \"unfurl_links\": false, \"unfurl_media\": false }" >>$GITHUB_OUTPUT
          fi

      - uses: slackapi/slack-github-action@v1.26.0
        if: ${{ steps.inspect-failures.outputs.send_msg }}
        with:
          payload: ${{ steps.inspect-failures.outputs.send_msg }}
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_NIGHTLY_INSPECT }}

      - name: Machine failure detected
        if: ${{ steps.inspect-failures.outputs.send_msg }}
        shell: bash
        run: |
            echo "Machine failure detected. Exiting."
            exit 1

      - uses: actions/checkout@v6

      - name: Setup python
        uses: actions/setup-python@v6
        with:
          python-version: '3.11'

      - name: Find failed tests
        id: success-failed
        shell: bash
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
        run: |
          repo="${{ github.repository }}"
          wf_name="schedule-nightly.yml"

          curr_wf_id="${{ github.event.workflow_run.id || inputs.workflow_run_id }}"

          # get json of the last 10 workflow runs
          gh run list --workflow $wf_name -R $repo -b main -L 10 --status completed --json attempt,conclusion,databaseId,headSha >runs.json

          # Remove entries from runs.json up to the entry with curr_wf_id
          jq --argjson curr_id "$curr_wf_id" 'map(select(.databaseId <= $curr_id))' runs.json > temp_runs.json
          mv temp_runs.json runs.json

          # check if current workflow ID is the one form workflow_run context (if workflow_run context is available)
          if [ "${{ github.event.workflow_run.id || inputs.workflow_run_id }}" -ne "$curr_wf_id" ]; then
            echo "Current workflow ID does not match the workflow_run context ID. Exiting."
            exit 1
          fi

          # check if the latest workflow run failed
          if [ "$(jq -r '.[0].conclusion' runs.json)" != "failure" ]; then
            echo "The latest workflow run did not fail. Exiting."
            exit 1
          fi

          # Filter runs.json to include only entries where "conclusion" is "failure" or "success"
          jq '[.[] | select(.conclusion == "failure" or .conclusion == "success")]' runs.json >filtered_runs.json
          mv filtered_runs.json runs.json

          # check if runs.json has at least 2 entries
          if [ "$(jq 'length' runs.json)" -lt 2 ]; then
            echo "Not enough workflow runs found (need at least 2). Exiting."
            exit 1
          fi

          echo "Extracted runs: $(cat runs.json)"
          curr_head_sha=$(jq -r '.[0].headSha' runs.json)
          prev_wf_id=$(jq -r '.[1].databaseId' runs.json)
          prev_head_sha=$(jq -r '.[1].headSha' runs.json)

          # check if commits are the same
          if [ "$curr_head_sha" == "$prev_head_sha" ]; then
            echo "No commits between last 2 nightly runs. Exiting."
            exit 1
          fi

          # save current nightly workflow ID and attempt
          echo "curr_wf_id=$curr_wf_id" >> $GITHUB_OUTPUT

          # cleanup before processing
          rm -rf log-a
          rm -rf log-b

          # get list of failed tests from the last two workflow runs
          gh run download $prev_wf_id --pattern "test-reports-*" -R $repo -D log-a || true
          gh run download $curr_wf_id --pattern "test-reports-*" -R $repo -D log-b

          # find newly failed tests
          rm -rf log-out
          mkdir -p log-out
          python .github/scripts/new_failed_tests_bymachine.py log-a log-b log-out $prev_head_sha $curr_head_sha

          # cleanup
          rm -rf log-a
          rm -rf log-b
          rm -f runs.json

          echo "Resulting upload list:"
          cat .upload_list.json
          echo "Resulting matrix:"
          cat .matrix.json|jq -c
          echo "test_matrix=$(cat .matrix.json|jq -c)" >> $GITHUB_OUTPUT
          echo "docker_sha=$curr_head_sha" >> $GITHUB_OUTPUT

      - uses: nsumrakTT/upload-multiple-artifacts@main
        with:
          continue-on-error: 'false'
          config: .upload_list.json

  build-image:
    needs: inspect
    uses: ./.github/workflows/call-build-docker.yml
    with:
      xla_sha_override: ${{ needs.inspect.outputs.docker_sha }}
    secrets: inherit

  test:
    needs: [ inspect, build-image ]
    strategy:
      matrix:
        build: ${{ fromJson(needs.inspect.outputs.test-matrix) }}
      fail-fast: false

    runs-on: ${{ !matrix.build.shared-runners && fromJson(format('["{0}", "in-service"]', matrix.build.runs-on)) || matrix.build.runs-on  }}

    # Keep this name in sync with the fetch-job-id step
    name: "test ${{ matrix.build.runs-on }} (sha ${{ matrix.build.fromc }} - ${{ matrix.build.toc }})"

    container:
      image: ${{ !matrix.build.shared-runners && needs.build-image.outputs.docker-image-base || format('harbor.ci.tenstorrent.net/{0}', needs.build-image.outputs.docker-image-base) }}
      options: --device /dev/tenstorrent
      volumes:
        - /dev/hugepages:/dev/hugepages
        - /dev/hugepages-1G:/dev/hugepages-1G
        - /etc/udev/rules.d:/etc/udev/rules.d
        - /lib/modules:/lib/modules
        - /opt/tt_metal_infra/provisioning/provisioning_env:/opt/tt_metal_infra/provisioning/provisioning_env
        - /mnt/dockercache:/mnt/dockercache

    env:
      TT_XLA_CI: 1
      GH_TOKEN: ${{ github.token }} # for gh cli tool

    steps:
      - name: Mark repo as safe for git
        run: |
          git config --global --add safe.directory /__w/tt-xla/tt-xla
          git config --global --add safe.directory /__w/tt-xla/tt-xla/third_party/tt_forge_models

      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: recursive

      - name: Download test to run
        uses: actions/download-artifact@v6
        with:
          name: ${{ matrix.build.runs-on }}-test-to-run

      - name: Bisect
        run: |
          git bisect start ${{ matrix.build.toc }} ${{ matrix.build.fromc }}
          while true; do
            git submodule update --init --recursive
            source venv/activate

            set +e
            if .github/scripts/download_wheel.sh; then
              # Run tests
              if python .github/scripts/run_tests.py; then
                git bisect good
              else
                git bisect bad
              fi
            else
              git bisect skip
            fi

            # Check if bisect is complete
            if [ $? -eq 0 ]; then
              echo "Bisect complete!"
              git bisect log
              break
            fi
            deactivate
          done

          # Get the bad commit info
          bad_commit=$(git rev-parse HEAD)
          echo "First bad commit: $bad_commit"
          echo "bad_commit=$bad_commit" >> $GITHUB_OUTPUT
          git bisect reset
